<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Artisan Market</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <aside>
        <h1>The Artisan Market</h1>
        <a href="#">Home</a>
        <a href="#">Wishlist</a>
        <a href="#">Profile</a>
    </aside>

    <main>
        <input type="text" id="pencarian" placeholder="Cari Barang">
        <div id="product"></div>
    </main>
</div>
<script src="script.js"></script>
</body>
</html>
